<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SistemaFarmaciaConnectionString"
            connectionString="Data Source=DESKTOP-9KDUP01;Initial Catalog=SistemaFarmacia;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>